node_modules/*
!node_modules/article-comments/
!node_modules/monk/
!node_modules/schemas/
!node_modules/server/
!node_modules/services/
!node_modules/transformers/
!node_modules/ui/
!node_modules/views/
public/dist
